@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lora&display=swap');

/* font family for everything */
html {
    font-family:'Lora', 'Cormorant Garamond', serif;
    padding: 0;
    margin: 0;
}
    /* style for body including background image */
body {
    padding: 0;
    margin: 0;
    /* width: 100%;
    height: 100%;  */
    background-image: url("../images/big-tech.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

/* a link styling to remove defoult style */
a {
    color: #000000;
    text-decoration: none;
    outline: none;
    text-align: center;
    font-size: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* to style the home title for quiz */
#title {
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    outline: none;
    font-weight: bolder;
    background-color: #f5a138;
    width: 100%;
    height: 60px;
    margin-bottom: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* when correct button is pressed */
.container.correct {
    background-color: lightgreen;
}
.container.wrong {
    background-color: red;
}

/* main div that contains buttons and quiz */
.container {
    background-color: #f5a138;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    color: #000000;
    margin: auto;
    width: 380px;
    height: 400px;
    margin-bottom: 80px;
}

/* container that contains score and input form */
#end-container {
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
    color: #000000;
}

/* form styling */
#form {
    text-align: center;
    margin: auto;
    border-radius: 10px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: solid #000000;
    width: 200px;
    height: 100px;
    align-items: center;
}
#myName {
    color: #000000;
    width: 90px;
    border-radius: 8px;
}

#myButton {
    margin-top: 10px;
    padding: 15px;
}
/* style to the writing at end and at begening. */
#finish-text-score {
    text-align: center;
    font-size: 15px;
    /* margin-left: 45px; */
    margin: auto;
    font-weight: bold;
    padding-bottom: 20px;
}

#above-score {
   width: 70px;
   height: 20px;
   background-color: #000000;
   padding: 5px;
   margin: 0;
   border-radius: 40%;
   color: #ffffff;
   text-align: center;
   font-size: 10px;
}
/*  to make all buttons flex */
.btn-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 5px auto;
    flex-direction: column;
}

/* the actual question styling */
#question {
text-align: center;
font-size: 20px;
padding-bottom: 20px;
}

/* general rules for all buttons */
.btn {
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 10px;
    /* margin: 5px; */
    outline: none;
    /* margin-left: 30px; */
    margin: auto;
    justify-content: center;
    width: 70%;
    height: 10%;  
}

#play-again-btn {
    margin-left: 45px;
}

/* when btn is hovered  */
.btn:hover {
    box-shadow: 0 0 10px 2px;
   
}

/* when btn is correct */
.btn.correct {
    background-color: lightgreen;
}

.btn.wrong {
background-color: red;
}

/* special stylig for next button */
.next-btn {
margin: auto;
width: 50%;
}

/* buttons on main page */
.controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5 rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
}

/* popup rules div */
#rules-div {
    text-align: center;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}

#rules-div li {
    list-style: none;
    padding: 5px;
}

/* for all buttons that needs to hide at specific situations */
.hide {
    display: none
}

/* general footer styling */
footer {
    height: 30px;
    background-color: #f5a138;
} 

/* list icon styling */
.footer-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
  }
  
  li>a {
    margin: auto;
  }


  /* media quearies for responsiveness */

  @media (max-width: 400px) {

    #title {
        font-size: 20px;
        height: 15px
    }
    .container {
        width: 150px;
        height: 300px; 
        margin: auto;
      }
    #form {
        width: 120px;
        height: 90px;
        margin: auto;
    }

    .btn {
        width: 80%;
        height: 20px;
        padding-bottom: 10px;
        padding-bottom: 10px;
        font-size: 10px;
        text-align: center;
    }

    #finish-text-score {
        font-size: 10px;
    }

    #rules-div {
        font-size: 6px;
    }

    #question {
        font-size: 14px;
        text-align: center;
    }
    .footer-icons {

    }
  }

  