@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lora&display=swap');

html {
    background-color: #000000;
    font-family:'Lora', 'Cormorant Garamond', serif;
    box-sizing: border-box;
   
}

body {
    padding: 0;
    margin: 0;
    /* display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center; */
}

h1, h2 {
    color: #ffffff;
    text-align: center;
}

.container {
    width:800px;
    max-height: 80%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.btn-flex {

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
