@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lora&display=swap');

html {
    background-color: #000000;
    font-family:'Lora', 'Cormorant Garamond', serif;
}

body {
    padding: 0;
    margin: 0;
     /* width: 100vw;
    height: 100vh;  */
    
}

h1 {
    color: #ffffff;
    text-align: center;
    /* font-size: 100%;
    margin-top: 30px;
    margin-bottom: 30px */
}
.container.correct {
    background-color: lightgreen;
}
.container.wrong {
    background-color: red;
}
.container {
    /* width:800px;
    max-height: 80%; */
    background-color: #fffefe;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    /* width: 250px;
    height: 250px; */
    margin: auto;
    width: 250px;
    height: 50%;
     /* display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column; */
    
}

.btn-flex {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5px;
    
    
    
}
/* .question-container {
display: flex;
flex-direction: column;
} */

#question {
text-align: center;
font-size: 20px;
}
.btn {
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    outline: none;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    
    
}
.btn:hover {
    border: #000000;
}

.btn.correct {
    background-color: lightgreen;
}

.btn.wrong {
background-color: red;
}

.start-btn, .next-btn {
font-size: 1.5 rem;
font-weight: bold;
padding: 10px 20px;

}
.controls {

    display: flex;
    align-items: center;
    justify-content: center;
   
    /* margin: 10px; */
}

.hidden {
    display: none
}