@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lora&display=swap');

html {
    background-color: #000000;
    font-family:'Lora', 'Cormorant Garamond', serif;
    box-sizing: border-box;
   
}

body {
    padding: 0;
    margin: 0;
}

h1, h2 {
    color: #ffffff;
    font-family: 'Lora', serif;
    text-align: center;
}

.container {
    background-color: #ffffff;
   

}